body, html {
	background-color: lightblue;
	height: 100%;
	width: 100%;
	display: grid;
	margin: 0;
}

.button {
	background-color: gray;
	border: none;
	font-size: 7vh;
	color: black;
}

.button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#clock {
	font-size: 8vh;
	grid-column-start: 1;
	grid-column-end: 4;
	background-color: #149bfd;
	color: black;
	border-color: black;
	border: solid;
}

.container {
	border-radius: 25px;
	border: solid;
	border-color: black;
	border-width: 10px; 
	background-color: gray;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	width: 60%;
	height: 60%;
	margin: auto;
	place-items: center;
}

#pomodoroName {
	font-size: 7vh;
	grid-column-start: 1;
	grid-column-end: 4;
	background-color: #149bfd;
	color: black;
	border-color: black;
	border: solid;
}